---
// Icons
import CopyIcon from "../icons/Copy.astro";
import CopiedIcon from "../icons/Copied.astro";
---

<button
  id="copy-button"
  class="flex justify-center items-center w-60 md:w-36 h-10 md:h-max gap-x-1 py-2 px-2
    border rounded-lg border-gray-400 dark:border-gray-700
  bg-gray-200 dark:bg-black/20
  text-gray-900 dark:text-purple-200
  hover:bg-violet-200 dark:hover:bg-violet-950/30
  active:bg-violet-500/30 dark:active:bg-violet-800/30
    transition"
>
  <div
    class="relative
      w-full h-full
      flex justify-center items-center
      text-sm font-semibold py-1.5 px-2"
  >
    <div
      id="default-message"
      class="absolute flex w-full justify-center items-center gap-x-1
        opacity-100 transition-all duration-300 ease-in-out"
    >
      <CopyIcon class="size-4" />
      <span>Copiar</span>
    </div>

    <div
      id="success-message"
      class="absolute flex w-full justify-center items-center gap-x-1
        opacity-0 transition-all duration-300 ease-in-out"
    >
      <CopiedIcon class="size-4" />
      <span>¡Copiado!</span>
    </div>
  </div>
</button>

<!-- Copy email function -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailString: any = document.getElementById("email-string");
    const copyButton: any = document.getElementById("copy-button");
    const defaultMessage: any = document.getElementById("default-message");
    const successMessage: any = document.getElementById("success-message");

    copyButton.addEventListener("click", () => {
      navigator.clipboard.writeText(emailString.textContent).then(() => {
        // Change the copy button content using opacity
        defaultMessage.classList.replace("opacity-100", "opacity-0");
        successMessage.classList.replace("opacity-0", "opacity-100");

        // Reset the copy button content after a few seconds
        setTimeout(() => {
          successMessage.classList.replace("opacity-100", "opacity-0");
          defaultMessage.classList.replace("opacity-0", "opacity-100");
        }, 1850);
      });
    });
  });
</script>
