---
import Star from "../icons/Star.astro";
---

<div
  class="flex flex-wrap justify-center items-center gap-0.5 xs:mb-0 mb-1 text-xs select-none text-white
    bg-gradient-to-r from-fuchsia-500 to-purple-800
    rounded-full px-3 py-0.5
    border border-fuchsia-500"
>
  <Star class="size-3.5" />
  <span class="font-semibold italic">¡Destacado!</span>
</div>



<!-- ---
import Star from "../icons/Star.astro";
---

<div
  class="flex justify-center items-center gap-0.5 text-xs select-none text-fuchsia-800 dark:text-fuchsia-400
    bg-fuchsia-400 dark:bg-transparent border dark:border-fuchsia-400 border-fuchsia-800
    rounded-full px-2 py-0.5
    "
>
  <Star class="size-4" />
  <span class="font-bold italic">DESTACADO</span>
</div> -->
