---
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex items-center justify-center group
        gap-2 px-3 py-2 space-x-2 max-w-fit
      bg-gray-100 dark:bg-transparent
        text-base text-gray-800 dark:text-white
        border rounded-xl border-gray-400 dark:border-gray-700
      hover:bg-gray-800 dark:hover:text-navbar-secondary
      hover:text-white
        focus-visible:outline-none focus-visible:ring-yellow-500/80
        focus-visible:ring-white focus-visible:ring-offset-2
        focus:outline-none focus-visible:ring
        active:bg-black
        transition"
>
  <slot />
</a>
