---
// Props
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex items-center justify-center group
    gap-2 px-3 py-2 space-x-2 w-32
    text-base font-semibold text-gray-800 dark:text-white
    border rounded-xl border-gray-400 dark:border-gray-700
  bg-gray-100 dark:bg-transparent
  hover:bg-gray-800 dark:hover:text-purple-400
  hover:text-white hover:border-gray-800
  active:bg-gray-700 active:dark:bg-gray-800
    transition"
>
  <slot />
</a>
