---
// Technology's data
import {
  technologysDataOne,
  technologysDataTwo,
} from "../data/technologysData";

// Component
import SkillsGroup from "./SkillsGroup.astro";
---

<div
  class="section-child flex flex-col container-highlight
  gap-y-6 py-5 px-3 mt-6 mx-auto"
>
  <SkillsGroup skills={technologysDataOne} title="Frontend" />
  <SkillsGroup skills={technologysDataTwo} title="Backend y Complementos" />
</div>
